{
  "*.{js,jsx,ts,tsx}": [
    "eslint --max-warnings=0 --fix",
    "prettier --write",
    "jest --bail --findRelatedTests --coverage=false --passWithNoTests"
  ],
  "*.{css,scss,md,json}": ["prettier --write"]
}
