.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: none;
  z-index: theme('zIndex.50');
}

.header-full {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7);
}

.title {
  font-size: 48px;
  font-family: theme('fontFamily.lead');
  color: theme('colors.netflix');
  letter-spacing: 4px;
}
