.search {
  display: flex;
  width: 300px;
  border: 1px solid #fff;
  border-radius: 8px;
  position: relative;
}

.icon {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
}
